.home-page{
    min-height: 100vh;
    padding:50px;
}
.display-container{
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    height:500px;
}
.badge{
    width:80px;
    height:35px;
    text-align: center;
    padding:5px;
    background-image:linear-gradient(to right ,#32F6F6,#A6A79F);
    color:#fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.badge-text{
    font-size: 24px;
    padding:0px;
    font-weight: bold;
    margin:0px;
}
.name{
    opacity: 60%;
    text-decoration: underline;
}
.title-text{
    font-size: 45px;
}
.btn{
    height:46px;
    border-radius: 6px;
    width:150px;
    margin:5px;
    border:2px solid #ffffff;
    box-shadow: 0px 0px 5px;
    color:#fff;
    font-weight: 500;
    font-size: 16px;
}
.cv-btn{
    background-image: linear-gradient(to right,#DF580C,#FD993D);
}
.get-in-touch-btn{
    background-image: linear-gradient(to right,#434343,#817E7E);
}
.description{
    font-size: 30px;
}

@media (max-width:786px){
    .home-page{
        padding-top:100px;
        width:100%;
    }
    .display-container{
        flex-direction: column;
        padding:0px 0px 0px 0px;
    }
    .profile{
        order:-1;
        margin-left:20px;
        height:200px;
    }
}