.App {
  text-align: center;
}
*{
  box-sizing: border-box;
}
.dark-theme{
    background-color: black;
    color:#fff;
}
.light-theme{
    background-color: #fff;
    color:black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

